.mainContainer {
    
    width: 100%;
    
    
}


.chessBoard {
    
    display: grid;
    width: 570;
    height: 570;
    border: 5px solid brown; 
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px ;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px;  
    
}

.chessBoardSmall {
    
    display: grid;
    width: 316;
    height: 316;
    border: 2px solid brown; 
    grid-template-columns: 39px 39px 39px 39px 39px 39px 39px 39px ;
    grid-template-rows: 39px 39px 39px 39px 39px 39px 39px 39px;  
    
}

.squareDark {
    display: flex; 
    background-color: brown;
    justify-content: center;
    align-items: center;
}

.squareDark:hover {
    display: flex; 
    background-color: rgb(193, 103, 39);
    justify-content: center;
    align-items: center;
}

.squareLight {
    display: flex;
    background-color: bisque;
}




#pawnSmall {
    height: 24px;
    width: 15px;
}

#kingSmall {
    height: 30px;
    width: 30px;
}

#pawn180Small {
    height: 24px;
    width: 15px;
    transform: rotate(180deg);
}

#king180Small {
    height: 30px;
    width: 30px;
    transform: rotate(180deg);
}



#pawn {
    height: 40px;
    width: 25px;
}

#king {
    height: 50px;
    width: 50px;
}

#pawn180 {
    height: 40px;
    width: 25px;
    transform: rotate(180deg);
}

#king180 {
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
}

.nav-item > a:hover {
    color: bisque;
}

.navbar .dropdown-menu .active{
    background-color: rgb(193, 103, 39);
}

.navbar .dropdown-menu a:focus {
    background-color: bisque;
}





